{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>
    {% if user.is_authenticated %}
        Witaj {{ user.username }}! <a href="{% url 'logout' %}"> wyloguj</a>
    {% else %}
        <a href="{% url 'login' %}">login</a>
    {% endif %}
</p>
<ul>
    <li><a href="{% url 'add_person' %}">Dodawanie Osob</a></li>
    <li><a href="{% url 'add_movie_model_form_view' %}">Dodawanie filmow</a></li>
    <li><a href="{% url 'add_genre' %}">Dodawanie Genre</a></li>
    <li><a href="{% url 'person_list' %}">Lista osob</a></li>
    <li><a href="{% url 'user_list' %}">Lista urzytkownikow</a></li>
    <li><a href="{% url 'user_add' %}">dodaj u</a></li>
    <li></li>
    <li><a>Lista Filmow</a></li>
</ul>
<p>
    {% block zawartosc %}
        Witaj !!!@#
    {% endblock %}
</p>
data: {{ date }}
swinak: {{ swinka }}
<img src="{% static 'Ash_Tree_-_geograph.org.uk_-_590710.jpg' %}">
</body>
</html>